################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/thtkGUI_CS/bin/Release/MAP
/.vs/thtkGUI_CS
